.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

.post {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  object-fit: cover;
  padding-bottom: 1.5rem;
  text-align: center;
  width: 280px;
}

.post:hover {
  transform: translate(0, -1rem);
}

.header {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.title {
  color: var(--rosa-escuro);
  font-family: var(--fonte-primaria);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1.5rem 0 1.75rem;
}
